{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": "airbnb-base",
    rules: {
    'no-mixed-spaces-and-tabs': 0,
    'arrow-parens': 0,
    'space-before-function-paren': 0,
    'no-use-before-define': 0,
    'no-tabs': 0,
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
    'indent': 0,
    'func-names':0;
  }
}